* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

/* SİTENİN GENEL DÜZENİNİ KONTROL EDEN KURALLAR */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--broken-white, #F9FAF7); 
}

.main-content {
  flex-grow: 1; /* Bu, içeriğin footer'ı en aşağıya itmesini sağlar. */
}